// ШРИФТЫ
$font-main: 'YS', sans-serif;
$font-secondary : 'DM Serif Display', serif;
// ШРИФТЫ

// ЦВЕТА САЙТА
$dark: #21201F;
$black: #2e2c21;
$white: #fff;
$gray: #C5C5C5;
$dark-gray: #808080;
$yellow: #FFDE40;
// ЦВЕТА САЙТА
