.header {
    background: var(
        --Linear,
        linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
        linear-gradient(
            90deg,
            rgba(255, 92, 77, 0.2) 0%,
            rgba(235, 70, 159, 0.2) 25%,
            rgba(131, 65, 239, 0.2) 72%,
            rgba(63, 104, 249, 0.2) 100%
        )
    );

    overflow: hidden;
    position: relative;

    &__container {
        position: relative;
        z-index: 10;
    }

    &__logo {
        margin-top: calc(6px + (123 - 15) * (100vw / 1440));
        display: block;
        width: 100%;
        img {
            max-width: 33%;
        }
    }

    &__title {
        @include title;
        letter-spacing: -2.44px;
        font-size: calc(36px + (72 - 36) * (100vw / 1440));
        max-width: 42%;
        margin-top: calc(22px + (72 - 32) * (100vw / 1440));
    }

    &__text {
        @include text;
        font-size: 24px;
        letter-spacing: -1.6px;
        max-width: 45%;
        font-weight: 900;
        margin-top: calc(14px + (48 - 35) * (100vw / 1440));
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__img-scooter {
        position: absolute;
        top: -35.5%;
        left: 16.5%;
        z-index: -1;
    }

    &__img-text {
        position: absolute;
        top: 40.5%;
        left: 55.5%;
        animation: 6s rotate infinite linear;
    }

    &__img-mobile {
        display: none;
    }

    &__btn {
        display: inline-block;
        margin-top: 41px;
        margin-bottom: 120px;
    }

    &__gradient {
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        width: 100%;
        height: 200px;
    }
}

@include tablet {
    .header__img-scooter {
        top: -41.5%;
        left: 10.5%;
    }

    .header__img-text {
        top: 40.5%;
        left: 49.5%;
    }
}

@include mobile {
    .header__title {
        max-width: 45%;
    }
    .header__img-scooter {
        top: -40.5%;
        left: 8.5%;
    }

    .header__img-text {
        top: 38.5%;
        left: 55.5%;
    }
}

@include bigPhone {
    .header__title {
        font-size: 36px;
        margin-top: 27px;
        letter-spacing: -0.7px;
    }

    .header__text {
        display: flex;
        flex-wrap: nowrap;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 124%;
        max-width: 314px;
        margin-top: 25px;
    }

    .header__img-scooter,
    .header__img-text {
        display: none;
    }
    .header__img-mobile {
        display: block;
        position: relative;
        width: 100%;
    }

    .header__img-scooter-mobile {
        position: relative;
        left: -7.5%;
    }

    .header__img-text-mobile {
        position: absolute;
        top: 49%;
        left: 17.5%;
        animation: 6s rotate infinite linear;
    }

    .header__btn {
        display: none;
    }
}

@include phone {
    .header__logo{
        margin-top: 30px;
    }
    .header__img-text-mobile {
        top: 47%;
        left: 21.5%;
    }
}
