.header {
    padding-top: 115px;
    position: relative;
    overflow: hidden;
    background: var(
        --Linear,
        linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
        linear-gradient(
            90deg,
            rgba(255, 92, 77, 0.2) 0%,
            rgba(235, 70, 159, 0.2) 25%,
            rgba(131, 65, 239, 0.2) 72%,
            rgba(63, 104, 249, 0.2) 100%
        )
    );

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
    }

    &__right {
        position: relative;
    }

    &__logo {
        max-width: 100%;
        img {
            // max-width: 100%;
        }
    }

    &__title {
        @include title;
        line-height: 98%;
        letter-spacing: -2.44px;
        font-size: 73.5px;
        max-width: 420px;
        margin-top: 61.5px;
    }

    &__text {
        @include text;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 130%;
        margin-top: 30px;
        position: relative;
    }

    &__price {
        position: relative;
        display: inline-flex;
        align-items: center;
        border-radius: 500px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%),
            radial-gradient(141.42% 141.42% at 100% 0%, #e0b8ff 0%, #b6b9ff 100%);
        padding: 20px 40px;
    }

    .price-tag {
        box-sizing: border-box;
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        // bottom: 0;
        right: 0.5%;
        min-width: 115px;
        height: 33px;
        padding-right: 17px;
        padding-left: 94px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%),
            radial-gradient(141.42% 141.42% at 100% 0%, #e0b8ff 0%, #b6b9ff 100%);
        border-radius: 500px;
    }
    .price-new {
        position: absolute;
        left: 0;
        font-weight: 500;
        border-radius: 500px;
        background: radial-gradient(141.42% 141.42% at 100% 0%, #e0b8ff 0%, #b6b9ff 100%);
        padding-top: 1.5px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .price-label {
        // box-sizing: border-box;
        flex: 0 0 auto;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.6px;
        color: grey;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            height: 2px;
            background: $dark-gray;
        }
    }

    .new__price {
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 1px;
        position: absolute;
    }

    .old__price {
        color: #808080;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__img-scooter {
        position: absolute;
        // top: -36%;
        // left: 16.5%;
        // left: -69.5%;
        top: -12%;
        left: -38.5%;
        z-index: -1;
    }

    &__img-text {
        position: absolute;
        top: 40%;
        // left: 55.5%;
        left: 11.5%;
        animation: 6s rotate infinite linear;
    }

    &__img-mobile {
        display: none;
    }

    &__btn {
        display: inline-block;
        margin-top: 36px;
        margin-bottom: 120px;
    }

    &__gradient {
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 920px) {
    .header {
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__img-scooter {
            position: relative;
            left: 0;
            top: 0;
            max-width: 100%;
        }

        &__img-text {
            top: 49%;
            left: 26.5%;
        }

        &__btn {
            margin-bottom: 0;
        }
    }
}

@include mobile {
    .header__title {
        max-width: 300px;
    }

    .header__img-text{
        max-width: 26%;
    }
}

@include bigPhone {
    .header{
        padding-top: 30px;
        &__gradient{
            height: 40px;
        }
    }
    .header__logo-img{
        max-width: 25.5%;
    }
    .header__title {
        font-size: 36px;
        margin-top: 27px;
        letter-spacing: -0.7px;
        width: 200px;
    }

    .header__text {
        font-size: 19px;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 124%;
        max-width: 314px;
        margin-top: 25px;
    }

    .header .price-tag {
        height: 26px;
        padding-left: 79px;
        min-width: 110px;
    }

    .header__btn {
        display: none;
    }
}

@include phone {
    .header__logo {
        margin-top: 30px;
    }
    .header__img-text-mobile {
        top: 47%;
        left: 21.5%;
    }
}
